# Import

## Module import

In [1]:
import pandas as pd

## Dataset import

In [2]:
imported_df = pd.read_csv('online_shoppers_intention.csv')
df = imported_df

# Preprocessing

In [3]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

## Dtypes

In [4]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

Month and VisitorType aren't correctly typed

### Month not type correction

In [5]:
df.Month.value_counts(dropna=False)

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: Month, dtype: int64

Month is in reality a categorical string variable.

In [6]:
df['Month'] = df.Month.astype('category')

### VisitorType

In [7]:
df.VisitorType.value_counts(dropna=False)

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: VisitorType, dtype: int64

In [8]:
df['VisitorType'] = df.VisitorType.astype('category')

VisitorType is in reality a categorical string variable.

In [9]:
df.SpecialDay.value_counts(dropna=False)

0.0    11079
0.6      351
0.8      325
0.4      243
0.2      178
1.0      154
Name: SpecialDay, dtype: int64

### Categorical variables

Month, OperatingSystems, Browser, Region, TrafficType, VisitorType, Weekend and Revenue are categorical variables.

In [10]:
df.dtypes[10:]

Month               category
OperatingSystems       int64
Browser                int64
Region                 int64
TrafficType            int64
VisitorType         category
Weekend                 bool
Revenue                 bool
dtype: object

I change dtype of categorical columns taged as int64 beacause int64 type can introduct a bias in the model (int64 have order, categorical not all time ). So OperatingSystems, Browser, Region and TrafficType variable dtype will be change as category.

At other hand boolean is a better type than category type for variables that take only 2 distinct values. So Weekend variable will stay of type bool.

In [11]:
df[['OperatingSystems', 'Browser', 'Region', 'TrafficType']] = df[['OperatingSystems', 'Browser', 'Region', 'TrafficType']].astype('category')

In [12]:
df.dtypes[10:]

Month               category
OperatingSystems    category
Browser             category
Region              category
TrafficType         category
VisitorType         category
Weekend                 bool
Revenue                 bool
dtype: object